.main {
    background-color: black;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem 0 12rem 0;
    background-color: black;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.title {
    font-size: 4.5rem;
    color: #7D26CD;
}

.form {
    margin: 2rem;
    padding: 4rem 12rem;
    border: 1px solid rgb(54, 46, 46);
    background-color: rgb(51, 44, 44);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

.inputGroup {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.input {
    font-size: 2rem;
    color: black;
    padding: .5rem;
    width: 100%;
    border-radius: 5rem;
    background-color: whitesmoke;
    border: transparent;
}

.label {
    font-size: 2rem;
    color: white;
    width: 12.5rem;
}

.togglePassword {
    font-size: 2rem;
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.submitButton {
    margin-top: 2rem;
    font-size: 2rem;
    padding: .5rem;
    border-radius: 50rem;
    background-color: #590aa3;
    color: white;
    border: transparent;
    width: fit-content;
    padding: 1rem 3rem;
}

.submitButton:hover {
    cursor: pointer;
    background-color: #7D26CD;
}